.App {
  text-align: center;
}

* {
  font-family: electrolize;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 253, 253);
  border-bottom: solid;
  border-width: thin;
}

.nav-logo {
  cursor: pointer;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.nav-button {
  margin-right: 10%;
}

.sign-up-button {
  cursor: pointer;
}

.profile-header {
  display: flex;
  justify-content: center;
  background: rgb(255, 254, 251);
}

.profile-picture {
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-bio {
  color: rgb(4, 17, 27);
}

.profile-header-buttons {
  margin-top: 1.2%;
  margin-left: 2%;
}

#profile-pic {
  border-radius: 50%;
}

.profile-feed {
  display: grid;
  justify-content: center;
  /* flex-wrap: wrap; */
  background: rgb(255, 250, 245);
}

.post {
  display: flex;
  border-style: solid;
  max-width: min-content;
  margin-top: 1%;
  overflow: scroll;
}


.post-caption {
  border-bottom: solid;
  border-width: thin;
}

.post-like {
  border-bottom: solid;
  border-width: thin;
}

.post-comment-section {
  border-bottom: solid;
  border-width: thin;
  overflow: scroll;
}
