

.App {
  text-align: center;
}

* {
  font-family: electrolize;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 253, 253);
  border-bottom: solid;
  border-width: thin;
}

.nav-logo {
  cursor: pointer;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.nav-button {
  margin-right: 10%;
}

.sign-up-button {
  cursor: pointer;
}

.profile-header {
  display: flex;
  justify-content: center;
  background: rgb(255, 254, 251);
}

.profile-picture {
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-bio {
  color: rgb(4, 17, 27);
}

.settings-icon {
  cursor: pointer;
}

.profile-header-buttons {
  margin-top: 1.2%;
  margin-left: 2%;
}

#profile-pic {
  border-radius: 50%;
}

.profile-feed {
  display: grid;
  justify-content: center;
  /* flex-wrap: wrap; */
  background: rgb(255, 255, 255);
}

.post {
  flex: 1;
  display: flex;
  max-width: min-content;
  margin-top: 1%;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  background-color: rgb(247, 246, 245);
  /* height: 400px; */
}

.Modal {
  max-width: min-content;

  background-color: papayawhip;
}

.modal-close-icon {
  margin-left: 97%;
  margin-top: .5%
}

.post-image {
  overflow: hidden;
  width: 480px;
  height: 400px;
}

.post-text {
  height: 400px;
}

.post-caption {
  border-bottom: solid;
  border-width: thin;
}

/* .delete-post-button {
  
} */

.post-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  height: 50px;
  overflow: scroll;
}

.post-bottom {
  height: 220px;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#likes {
  color: rgb(53, 3, 3);
}

.post-comment-section {
  border-bottom: solid;
  border-width: thin;
  align-items: center;
  height: 180px;
  overflow: scroll;
}

.comment-input-bar {
  margin-top: 10%;
  width: 50%;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  justify-content: space-between;
}

.username-change-form {
  margin-bottom: 1%;
}

.info-change-input {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.picture-add-input {
  width: 35%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  justify-content: space-between;
}

.login-input {
  width: 15%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}


